mat-card {
    mat-card-header {
        text-align: center;
    
        ::ng-deep .mat-card-header-text {
            width: 100%;
        }
    
        mat-card-title {
            font-style: oblique;
            color: var(--primary);
            font-size: 30px;
        }
    }
    
    mat-card-content {
        display: grid;
        row-gap: 1rem;
    
        mat-form-field {
            width: 80%;
            margin: 0 auto;
        }
    }
}
