<mat-card>
    <mat-card-header>
        <mat-card-title>
            Calculadora Estatística
        </mat-card-title>
        <mat-card-subtitle>
            Fornece cálculo automático das principais estatística descritivas e distribuição de frequências, além de gráficos adicionais.
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-divider inset></mat-divider>

        <p>Para começar insira os números desejados no campo abaixo e confirme a operação</p>

        <mat-form-field appearance="outline">
            <mat-label>Números</mat-label>
            <mat-chip-list #chipList>
                <ng-container *ngFor="let entry of entries; let i = index">
                    <mat-chip selected (removed)="removeEntry(i)">
                        {{entry}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                </ng-container>
                <input 
                    #entriesInput
                    type="number"
                    placeholder="Novo valor..." 
                    autofocus
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separators" 
                    (matChipInputTokenEnd)="addEntry($event.value)"
                >
            </mat-chip-list>
            <mat-hint>Utilize enter ou vírgula para separar os números</mat-hint>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-button color="accent" (click)="dialog.open(random)">
            Gerar números aleatórios
        </button>
        <button mat-raised-button color="primary" (click)="submit()">
            Cálcular
        </button>
    </mat-card-actions>
</mat-card>

<ng-template #random>
    <app-head-random (generate)="submit($event)"></app-head-random>
</ng-template>