<h3 mat-dialog-title>Valores aleatórios</h3>

<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Quantidade</mat-label>
            <input type="number" autofocus matInput formControlName="qty">
            <mat-hint>Quantidade de números aleatórios que serão gerados</mat-hint>
            <mat-error>A quantidade é obrigatória</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Mínimo</mat-label>
            <input type="number" autofocus matInput formControlName="min">
            <mat-hint>Valor mínimo que cada número terá</mat-hint>
            <mat-error>O valor mínimo é obrigatório</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Máximo</mat-label>
            <input type="number" autofocus matInput formControlName="max">
            <mat-hint>Valor máximo que cada número terá</mat-hint>
            <mat-error>O valor máximo é obrigatório</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button 
        mat-raised-button 
        color="primary" 
        [disabled]="!form.valid"
        (click)="submit()"
    >
        Cálcular
    </button>
</mat-dialog-actions>