<mat-card>
    <mat-card-header>
        <mat-icon mat-card-avatar>analytics</mat-icon>
        <mat-card-title>Distribuição de Frequências</mat-card-title>
        <mat-card-subtitle>Calcula e exibe a tabela de distribuição de frequências</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <table>
            <thead>
                <tr>
                    <td>Valor</td>
                    <td>Fi</td>
                    <td>Xi</td>
                    <td>FaC</td>
                    <td>Fi(%)</td>
                    <td>Xi.Fi</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of table">
                    <td>{{ row.name }}</td>
                    <td>{{ row.fi }}</td>
                    <td>{{ row.xi | number : '1.2-2' }}</td>
                    <td>{{ row.fac }}</td>
                    <td>{{ row.fiPercent | number : '1.2-2' }}%</td>
                    <td>{{ row.xiFi | number : '1.2-2' }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>{{ entries.length }}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>100.00%</td>
                    <td>{{ xiFiSum | number : '1.2-2' }}</td>
                </tr>
                <tr>
                    <td id="average" colspan="6">
                        <b>Média →</b> {{ (xiFiSum / facSum) | number : '1.2-2' }}
                    </td>
                </tr>
            </tfoot>
        </table>
    </mat-card-content>
</mat-card>